$mainFont:'century-gothic', sans-serif;

$fontColour: #686868;
$fontColourTwo: #5588b5;

$bgColour: white;
$bgColour2: #5588b5;

$buttonTextColour: #686868;
$buttonHover: #5588b5;

$linkColour: #686868;
$linkHover: #5588b5;