$mainFont:'century-gothic', sans-serif;

$fontColour: grey;
$fontColourTwo: white;

$bgColor: white;
$bgColor2: lightBlue;

$buttonTextColour: grey;
$buttonHover: lightBlue;

$linkColour: grey;
$linkHover: lightBlue;