$mainFont:'century-gothic', sans-serif;
$fontColour: black;
$fontColourTwo: grey;

$mainColor: black;
$secondaryColour: grey;
$bgColor: white;

$buttonTextColour: blue;
$buttonHover: orange;

$linkColour: black;
$linkHover: lightBlue;