.hidden{
    display: none;
}

main{
    margin: 0 auto;
}

body{
    margin: 0 auto;
    max-width:90%;
}

h1, h2, h3, h4 {
    font-family : $mainFont;
    color: $fontColour;
}

p, ul {
    font-family : $mainFont;
    color: $secondaryColour;
    font-size: 12px;
}