.hidden{
    display: none;
}

body{
    margin: 0 auto;
    max-width:90%;
}

h1, h2, h3, h4 {
    font-family : $mainFont;
    font-size: 20px;
    color: $fontColour;
}

p, ul {
    font-family : $mainFont;
    font-size: 18px;
    color: $fontColour2;
}