.hidden{
    display: none;
}

main{
    max-width:90%;
    margin: 0 auto;
}

body{
    margin: 0 auto;
    max-width:90%;
}

h1, h2, h3, h4 {
    font-family : $mainFont;
    font-size: 20px;
    color: $fontColour;
}

p, ul {
    font-family : $mainFont;
    font-size: 18px;
    color: $fontColour2;
}

#goHome{
    margin-right:20px;
}

#newsletter{
    margin-left:20px;
}