#destinationIntro{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    background-color: $bgColor2;
    padding:10px;
}

#destinationIntro h3{
    color: $fontColourTwo;
}

#title{
    font-size: 18px;
}

#dest1{
    padding:10px;
}

#dest2 h3{
    color: $fontColourTwo;
}

#dest2{background-color: $bgColor2;
    padding:10px;
}

#dest3{
    padding:10px;
}

#destinationInto p {
    max-width:90%;
}

.destinationMain{
    display:flex;
    flex-direction: column;
    color: $fontColour;
}

.destinationImg{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top:10px;
}

.destinationImg img{
    max-width: 48%;
}

.destinationDesc{
    display:flex;
    margin: 0 auto;
    margin-top:10px;
}

#gallery{
    margin-top:30px;
    background-color: $bgColor2;
    padding: 10px;
}

.visitText{
    font-size:24px;
    text-align: center;
    color: $fontColourTwo;
}

