#destinationIntro{
    display: flex;
    flex-direction: column;
    background-color: $bgColour2;
    padding:20px;
    max-width:100%;
    margin-top:35px;
}

#introDesc{
    max-width:90%;
}

#destinationIntro h3{
    color: $fontColourTwo;
}

#title{
    font-size: 18px;
}

#dest1{
    padding:20px;
    margin-top:30px;
}

#dest2 h3{
    color: $fontColourTwo;
}

#dest2{
    background-color: $bgColour2;
    max-width:100%;
    padding:20px;
    margin-top:30px;
}

#dest3{
    padding:20px;
    margin-top:30px;
}

.destinationMain{
    display:flex;
    flex-direction: column;
    color: $fontColour;
}

.destinationImg{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top:20px;
    margin-bottom: 20px;
    max-width:100%;
}

.destinationImg img{
    max-width: 48%;
}

.destinationDesc{
    display:flex;
    margin: 0 auto;
    margin-top:15px;
}

#gallery{
    background-color: $bgColour2;
    padding:20px;
    margin-top:30px;
}

.visitText{
    font-size:22px;
    text-align: center;
    color: $fontColourTwo;
}

