#destinationIntro{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

#title{
    font-size: 18px;
}

#dest1{
    margin: 0 auto;
}

#destinationInto p {
    max-width:90%;
}

.destinationMain{
    display:flex;
    flex-direction: column;
}

.destinationImg{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top:10px;
}

.destinationImg img{
    max-width: 48%;
}

.destinationDesc{
    display:flex;
    margin: 0 auto;
    margin-top:10px;
}

.visitText{
    font-size:24px;
    text-align: center;
    margin: 0 auto;
}

