footer{
    font-family: $mainFont;
    color: $fontColour;
    display:flex;
    margin: 0 auto;
    flex-direction: column;
    margin-top: 30px;
    font-size:12px;
    max-width:90%;
}

#moreInfo{
    display:flex;
    flex-direction: row;
}

#footerLinks{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#copyright{
    margin-top:10px;
    margin-bottom:20px;
    text-align: center;
}