#imgGallery{
    width: 90%;
    display: flex;
    margin: 0 auto;
    justify-content: center;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }

  .column{
      margin:0 auto;
      justify-content: center;
  }
  