
header{
    margin-top:25px;
    padding:20px;
}

#headerLinks{
    display:flex;
    font-size:18px;
}

a{
    text-decoration: none;
    color: $linkColour;
    margin-top:15px;
    max-width: 960px;
}

a:hover{
    color: $linkHover;
}


#headerImg{
    margin: 0 auto;
    max-width: 80%;
}
