
header{
    margin-top:15px;
}

#headerLinks{
    display:flex;
    margin-bottom:10px;
    font-size:18px;
}

a{
    text-decoration: none;
    color: $linkColour;
}

a:hover{
    color: $linkHover;
}


#headerImg{
    margin: 0 auto;
    margin-bottom:5px;
}
