
header{
    font-family: $mainFont;
    font-size: 12px;
    margin-top:15px;
}

#goHome{
    display:flex;
}

#routes{
    display:flex;
}

a{
    text-decoration: none;
    color: $linkColour;
    margin-bottom:15px;
}

a:hover{
    color: $linkHover;
}


#headerImg{
    margin: 0 auto;
    margin-bottom:5px;
}
