#appLogIn{
    display:flex;
    flex-direction: column;
    max-width:90%;
    margin: 0 auto;
}

#my-form{
    display:flex;
    flex-direction: column;
}

form label{
    margin-bottom:10px;
}

input{
    padding:4px;
    margin-bottom: 10px;
}

button{
    margin-top: 10px;
}