#appLogIn{
    display:flex;
    flex-direction: column;
    margin: 0 auto;
    color: white;
    padding:20px;
    background-color: $bgColour2;
}

#my-form{
    display:flex;
    flex-direction: column;
    margin: 0 auto;
    color: $fontColour;
    
}

form label{
    margin-bottom:10px;
    color: white;
}

input{
    padding:4px;
    margin-bottom: 35px;
    width:400px;
}

button{
    margin: 0 auto;
    width:200px;
    margin-top:30px;
    margin-bottom:30px;
    padding:10px;
    opacity:0.8;
    background-color: white;
}

button:hover{
    color: $buttonHover;
}