#appLogIn{
    display:flex;
    flex-direction: column;
    margin: 0 auto;
    color: $fontColour;
}

#my-form{
    display:flex;
    flex-direction: column;
    background-color: $bgColour2;
    padding: 10px;
    color: $fontColour;
}

form label{
    margin-bottom:10px;
}

input{
    padding:4px;
    margin-bottom: 10px;
}

button{
    margin-top: 10px;
}