img{
    max-width:100%;
    width:30%;
}

img:hover{
    width:32%;
}

#splashPage{
    display:flex;
    flex-direction: column;
    margin: 0 auto;
}

#splashMain{
    display:flex;
    margin: 0 auto;
    justify-content: space-between;
}

.destinationMain{
    display:flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    text-align: center;
}

.destinationImg{
    display:flex;
    flex-direction: row;
}

.destinationImg Img{
    margin-right:50px;
}

#signUpLink{
    display:flex;
    margin: 0 auto;
    justify-content: center;
}

#contactMain{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
}

ul{
    list-style: none;
}